		.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
		.clearfix{display:inline-block;}
		.inline{zoom:1;display:inline-block;*display:inline;vertical-align:top;}
		.wrap{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
		
		.download{text-align:center;}
		.content{width:630px;margin:10px auto;padding:25px;line-height:32px;background:#fff;border:1px solid #dadada;font-size:14px;}
		.content p{margin:0px; padding:0px;}
		.top{text-align:center;}
		.top-title{margin:10px auto;width:240px;height:50px;line-height:50px;font-size:32px;}
		.title{width:100%;font-size:18px;text-indent:10px;background-color:#dadada;color:#6C6C6C;}
		.photo{height:175px;width:120px;margin:10px 15px;}
		.exp-job{width:150px;}
		.exp-date{width:200px;}
		.project-title{width:320px;font-weight:bolder;}
		.project-date{width:300px;text-align:right;}
		.indent30{text-indent:30px;}
		.w150{width:150px;}
		.w250{width:250px;}
		.w475{width:475px;}
		.w550{width:550px;}

		.prompt{width:700px;margin:50px auto;font-size:16px;text-align:center;line-height:32px;}